<div class="container-fluid p-0 m-0">
<nav class="navbar navbar-toggleable-md navbar-light bg-white pt-3 pb-3">
  <button class="navbar-toggler m-3 px-2 py-2 navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-5 pt-3 pb-3 custom-brand-image">
    <div class="col-6 text-center">
  <a class="navbar-brand pt-3 pb-3 px-0 m-0 custom-logo-text" href="/index">Claxton <span class="green-text">Handi House</span></a>
    </div>
</div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <div class="col-12 mx-auto">
    <div class="col-12 mx-auto">
    <ul class="navbar-nav text-center float-lg-right">
      <li class="nav-item px-2 py-2 active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-2 py-2">
        <a class="nav-link" href="/about-us">About</a>
      </li>
      <li class="nav-item px-2 py-2">
        <a class="nav-link" href="/structures">Our Structures</a>
      </li>
      <li class="nav-item px-2 py-2">
        <a class="nav-link text-white last-nav-item" href="/contact-us">Contact Us</a>
      </li>
    </ul>
    </div>
  </div>
  </div>
</nav>
</div>